@model WSVistaWebClientTest.Domain.Entities.Order
<div class="well">
    <h3>
        <strong>@Model.OrderNumber</strong>
        <span class="pull-right label label-primary">Ticket's count: @Model.Tickets.Count()</span>
    </h3>
    <span class="lead">@Model.OrderDate.ToLongDateString()</span>

    @*@foreach (var t in o.Tickets)
            {
                <div>
                    <h4>@t.TicketId</h4>
                    <div>
                        @t.AreaNumber
                        @t.RowIndex
                        @t.ColumnIndex
                    </div>
                </div>
            }*@
</div>
